.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  direction: rtl;
}
.create__button {
  text-align: center;
  font-size: 16px;
  padding: 8px;
  background-color: #6a994e;
  color: aliceblue;
  border: none;
  margin: 1rem 0;
}
.create__button:focus {
  background-color: #6a994e;
}

.radio__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.radio__items {
  display: flex;
  flex-direction: column;
}
.radio__item {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
