.questions__column {
  text-align: center;
  width: 90%;
  min-height: 100px;
  position: relative;
  background-color: white;
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.questions__wrapper {
  margin: 1rem auto;
  min-height: 100px;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 0rem 1rem 2rem 1rem;
}
.add__question__btn {
  background-color: darkcyan;
  color: white;
  padding: 0.8rem 0.5rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.question__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
  padding-bottom: 1rem;
  text-align: end;
  cursor: grab;
  margin: 0.5rem auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.question__item .tag {
  font-size: 8px;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 4px;
}
.question__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.question__content textarea {
  width: 100%;
  padding: 0.5rem;
  direction: rtl;
  margin-top: 0.3rem;
  min-height: 40px;
}
.question__answer__area {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.four__answer__template {
  display: flex;
  width: 24%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
}
.truthy__answer__template {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}
.delete__icon {
  color: white;
  background-color: salmon;
  text-align: center;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  font-size: 14px;
  padding-bottom: 4px;

  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.question__actions {
  width: 100%;
  display: flex;
  align-items: center;
}
.edit__icon {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
}
.edit__icon img {
  width: 100%;
  height: 100%;
}
