.home__container {
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: aliceblue;
}
.tabs__buttons {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.tabs__buttons button {
  height: 35px;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  margin: 1rem auto;
  color: white;
}
.stats__button {
  background-color: #073b4c;
}
.stats__button:focus {
  background-color: #07334c;
}
.surveys__button {
  background-color: #2a9d8f;
}
.surveys__button:focus {
  background-color: #2a918f;
}

.active {
  border-bottom: 2px solid #14213d;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  bottom: 0;
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.left {
  transform: translateX(-100%);
}

.builder {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.questions__column {
  text-align: center;
  width: 45%;
  min-height: 100px;
  position: relative;
}
.surveys__column {
  text-align: center;
  width: 45%;
  min-height: 100px;
  position: relative;
}
.surveys__wrapper {
  margin: 1rem auto;
  min-height: 100px;
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid slategray;

  padding: 0rem 1rem 2rem 1rem;
}
.questions__wrapper {
  margin: 1rem auto;
  min-height: 100px;
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid slategray;

  padding: 0rem 1rem 2rem 1rem;
}

.add__button {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  left: 0;
  background-color: #66a868;
  color: white;
  border-radius: 0;
  font-size: large;
}
.add__question__button {
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: 0;
  width: 100%;
  background-color: #219ebc;
  color: white;
  border-radius: 0;
  font-size: large;
}

.survey__item {
  padding: 0.5rem;
  text-align: end;
  cursor: pointer;
  margin: 0.5rem auto;
  border: 1px solid #93b7be;
  background-color: #f1fffa;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.selected {
  border: 2px solid red;
}
.question__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  text-align: end;
  cursor: grab;
  margin: 0.5rem auto;
  border: 1px solid #93b7be;
  background-color: #a2d2ff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.question__item .tag {
  font-size: 8px;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 4px;
}
.delete__icon {
  color: white;
  background-color: #e63946;
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 10px;
  font-size: 20px;
  padding-bottom: 4px;
  margin-right: 0.4rem;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
