.option {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: medium;
  padding: 0.5rem;
  width: 100%;
  text-align: start;
}
.option p {
  width: 50%;
  margin: auto 1rem;
}
.option input {
  margin: 0;
  width: 16px;
}
.options {
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid slategray;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 0.4rem;
}
.options input {
  width: 80%;
}
