.App {
  text-align: center;
}
.modal__container {
  width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 8px 16px;
}

.page {
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  background-color: aliceblue;
}
