@font-face {
  font-family: "iran-sanse";
  src: local("IRANSansWeb-Bold"),
    url("./assets/fonts/IRANSansWeb-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: iran-sanse;
}
body {
  box-sizing: border-box;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
label {
  margin: 4px 0px;
  font-size: 16px;
}
input {
  width: 60%;
  margin: 8px 0px;
  padding: 4px;
  font-size: 14px;
  direction: rtl;
}
input:focus {
  outline: none;
}
button {
  padding: 4px;
  background-color: inherit;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
